@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(224, 241, 204);
}
main {font-family: 'Roboto', sans-serif;}
header {
    background-image: radial-gradient(rgb(228, 255, 198), rgb(47, 75, 40) 150%);
    box-shadow: 0px 0px 10px black;
    color: white;
    text-shadow: 0px 0px 1px black;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
header h1{
    margin: 10px 0px;
}

footer {
    background-color: rgb(47, 75, 40);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: 0px 0px 10px black;
}

main {
    padding: 20px;
}
main h2 {
    margin-bottom: 10px;
}
main ul {
    margin: 0px 30px;
    list-style-type: none;
}
main li {
    border: 1px solid rgb(47, 75, 40);
    width: fit-content;
    background-image: radial-gradient(rgb(228, 255, 198),
        rgb(47, 75, 40) 95%);
}

main a, main a:link {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 10px black;
    padding: 10px;
    display: inline-block;
}

main a:hover {
    background-color: #d9f1cc5a;
    padding: 10px 15px;
    transition: 0.3s;
}
footer a, footer a:visited {
    color: rgb(208, 255, 225);
    text-decoration: none;
    font-weight: bold;
}