@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');

body {
    --starBackground: url("../img/background.gif");
    --cor1: #121420;
    --cor2: #1B2432;
    --cor3: #2C2B3C;
    --cor4: #403F4C;
    --cor5: #5E548E;
    --cor6: #9734c2;
    --neon: #d779ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: var(--starBackground);
}

main {
    font-family: 'Roboto', sans-serif;
}
main h1 {
    color: var(--neon);
    text-shadow: 0px 0px 15px var(--cor6);
    font-size: 40px;
}

header {
    position: fixed;
    background-color: transparent;
    color: white;
    text-shadow: 0px 0px 1px black;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    font-size: 19px;
    opacity: 0.5;
    transition: 200ms;
}
header:hover {
    opacity: 1;
}
header div {
    background-color: var(--cor1);
    width: fit-content;
    height: fit-content;
    border-radius: 0 0px 40px 0px;
    transition: 500ms;
}
header div:hover {
    background-color: rgb(27, 4, 35);
}
header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    width: 500px;
    padding: 10px;
    background-color: var(--cor1);
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0px 0px 20px 0px;
}
header ul li {
    padding: 10px;
    transition: 100ms;
}
header a:link, header a:visited {
    color: var(--cor6);
    text-decoration: none;
    text-shadow: 0px 0px 10px purple;
    transition: 100ms;
}
header ul li:hover, header a:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 15px var(--cor6);
    color: var(--neon);
}
header h1 {
    margin: 10px 0px;
}

footer {
    background-color: var(--cor1);
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

main {
    padding: 20px 0px;
    color: white;
}

main a,
main a:link {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 10px var(--neon);
    padding: 10px;
    display: inline-block;
}

footer a,
footer a:visited {
    color: var(--cor6);
    text-decoration: none;
    font-weight: bold;
}
footer span {
    color: var(--cor5);
}
